body{
    font-family:"Raleway";

}

.layout{
    display: grid;
    grid-template: 1fr 1fr 9fr / 1fr 2fr 1fr;

}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/ -1;
    background-color: #ecfdf5;
    font-size: 25px;
    color:#0f766e;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap:30px;
    justify-content: center;
    align-items: start;
    line-height: 1.5;
}
.dashboard{
    font-size: 29px;
    font-weight: bold;
}
.sidebar ul{
    list-style: none;
}
.header{
    grid-column: 2 / 4 ;
    grid-row: 1 / 2 ;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
    
    
}
.header input{
    max-height: 30px;
    min-width: 300px;
    border-radius: 8px;
    flex-grow: 1;
    border-color: #0f766e;
    
}

.search,
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.nav{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.main-sidebar{
    grid-column: 3 / 4 ;
    grid-row: 3 / -1;
}
.main{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background-color: #fef9c3;
}


