body{
    font-family:"Raleway";

}

.layout{
    display: grid;
    grid-template: 1fr 1fr 9fr / 1fr 2fr 1fr;

}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/ -1;
    background-color: #ecfdf5;
}
.sidebar ul{
    list-style: none;
}
.header{
    grid-column: 2 / 4 ;
    grid-row: 1 / 2 ;
}
.nav{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
.main-sidebar{
    grid-column: 3 / 4 ;
    grid-row: 3 / -1;
}
.main{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background-color: #fef9c3;
}


