:root{
    --main-text: #7d7375;
    --sidebar-background:#DFE1BE;
    --main-background:#FFF5ED;
}

body{
    font-family:"Raleway";
    margin:0px;
}

.layout{
    display: grid;
    grid-template: 1fr 1fr 9fr / .7fr 2.3fr 0.7fr;

}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 1/ -1;
    background-color: var(--sidebar-background);
    font-size: 20px;
    color: var(--main-text);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap:30px;
    justify-content: start;
    align-items: center;
    padding-top: 15px;
    line-height: 1.5;
    height: 100vh;
}
.dashboard{
    font-size: 30px;
    font-weight: bold;
}
.sidebar ul{
    list-style: none;
    margin: 0px;
    align-self: flex-start;
}
.header{
    grid-column: 2 / 4 ;
    grid-row: 1 / 2 ;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding:15px 30px;
    
    
}
.header input{
    height: 25px;
    min-width: 400px;
    border-radius: 10px;
    flex-grow: 2;
    border: none;
    background-color: lightgrey;  
}

.search,
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}


.nav{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
   
}
.main-profile{
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 8px;
}
.username-big{
    font-size: 20px;
    font-weight: bold;
}
#nav .nav-buttons{
    display: flex;
    gap:10px;
    align-items: center;
    
}
button{
    border-radius: 20px;
    background-color: var(--sidebar-background);
    color: var(--main-text);
    border: none;
    font-size: 15px;
    padding: 5px;
    min-width: 80px;
    
}
#main-container{
    grid-template-columns: 2/ 3;
    grid-template-rows: 3/ 4;
    background-color:var(--main-background) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}
.mainheader{
    background-color:var(--main-background);
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding-right: 15px ;
    padding-left: 15px ;
    
}
.main{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background-color: var(--main-background);
    gap:15px;
    column-gap: 25px;
    padding: 15px;
    justify-items: center;

}
#main article{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
    border-top: 5px solid var(--sidebar-background) ;
    box-shadow: 5px 5px 5px lightgrey;
    max-width: 300px;
    transition: transform .5s;
}
h4{
    color: var(--main-text);
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
.article-logo{
    display: flex;
    align-self:end;
    gap: 10px;
    
}
.main-sidebar{
    grid-column: 3 / 4 ;
    grid-row: 3 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:var(--main-background) ;
    padding-right: 30px;
}
.announcement{
    color: black;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 15px 0px 15px ;

}
.announcement-content{
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    box-shadow: 5px 5px 5px lightgrey;
}
.announcement-content div{
    border-bottom: 1px solid lightgrey;
    background-color: white;
    margin: 10px; 
    
}
.announcement-content h5{
    margin: 0px;
    font-weight: bold;
}
.chats-content{
    background-color: white;
    border-radius: 10px;
    margin: 0px;
    padding: 5px;
    box-shadow: 5px 5px 5px lightgrey;
}
.chats-content div{
    border-bottom: 1px solid lightgrey;
    background-color: white;
    margin: 10px; 
    
    
    
}
.chats{
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-left:15px;
}
img{
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
}

article:hover{
    opacity: 80%;
    transform: scale(1.1);
}
button:hover{
    opacity: 80%;
    transform: scale(1.1);
}
.chatname:hover{
    transform: scale(1.1);
}
ul li:hover{
    opacity: 80%;
    transform: scale(1.1);
}
i:hover{
    opacity: 80%;
    transform: scale(1.15);
}
.announcement-content div:hover{
    opacity: 50%;
}
